/****** GENERAL ******/

* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
  --filter-border: #d9d9d9;
}

html {
  font-size: 16px;
  font-weight: 400;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  min-width: 320px;
  padding: 0 50px;
  margin: 0 auto;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

/****** HEADER ******/

.header-container {
  display: flex;
  justify-content: space-between;
}

.header-container nav ul {
  display: flex;
  list-style-type: none;
  gap: 68px;
}

.header-container img {
  height: 19px;
  padding: 30px 0;
}

nav ul li {
  border-top: solid 0px var(--main-color);
  padding-top: 16px;
}

nav ul li:hover {
  padding-top: 14px;
  border-top-width: 2px;
  color: var(--main-color);
}

/****** INFO GROUP ******/

/*** HEADLINE ***/

h1 {
  font-size: 1.375rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.info-group {
  margin-top: 30px;
}

.headline {
  margin-bottom: 35px;
}

/*** SEARCH BAR ***/

form {
  display: flex;
  margin-bottom: 35px;
}

.icon-loc {
  background-color: var(--main-bg-color);
  padding: 15px 18px 16px;
  border-radius: 15px 0 0 15px;
}

input {
  font-size: 1.125rem;
  font-weight: 700;
  text-align: center;
  border: var(--main-bg-color) 1px solid;
  border-left: none;
  border-right: none;
  outline: none;
}

input::placeholder {
  color: #000;
}

.search-button {
  font-size: 1.125rem;
  font-weight: 700;
  color: #fff;
  background-color: var(--main-color);
  border: none;
  padding: 14px 16px;
  border-radius: 0 15px 15px 0;
  cursor: pointer;
}

.fa-magnifying-glass {
  color: #fff;
  display: none;
}

/*** FILTER BAR ***/

.filter-txt {
  font-size: 1.125rem;
  font-weight: 700;
}

.filter-bar-container {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 35px;
}

.group-button {
  display: flex;
  gap: 15px;
}

.filter-button {
  padding: 15px 19px;
  font-size: 1.0625rem;
  font-weight: 700;
  background-color: #fff;
  border-radius: 25px;
  border: var(--filter-border) 2px solid;
  display: flex;
  align-items: center;
  gap: 10px;
}

.filter-button:hover {
  background-color: var(--filter-bg-color);
}

.group-button .fa-solid {
  color: var(--main-color);
  font-size: 1.25rem;
}

/*** INFO BAR ***/

.info-bar {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 35px;
}

.icon-info-container {
  border: solid 1px var(--filter-border);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-color);
}

/****** ACCOMMODATION AND POPULAR ******/

.accommodation-and-popular {
  display: flex;
  justify-content: space-between;
}

.accommodation-and-popular section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

.section-title {
  font-size: 1.375rem;
  font-weight: 700;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 1rem;
  font-weight: 700;
}

.card-subtitle {
  font-size: 0.875rem;
}

.euro {
  font-weight: 600;
}

.neutral-star {
  color: var(--main-bg-color);
}

.blue-icon {
  color: var(--main-color);
}

/****** ACCOMMODATION ******/

.accommodation {
  width: 65%;
}

.accommodation-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.accommodation-cards-container a {
  display: block;
  width: 32%;
  margin-top: 30px;
}

.accommodation-cards-container img {
  width: 100%;
  height: 114px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.accommodation-cards-container .card-content {
  padding: 4px 10px 10px 10px;
}

.accommodation-cards-container .card-title {
  margin-bottom: 8px;
}

.accommodation-cards-container .card-subtitle {
  margin-bottom: 8px;
}

#more {
  font-size: 1.125rem;
  font-weight: 700;
  margin-top: 30px;
}

/****** POPULAR ******/

.popular {
  width: 32%;
}

.popular-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-cards-container .card {
  display: flex;
  margin-top: 30px;
}

.popular-cards-container img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.popular-cards-container .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.popular-cards-container .card-title {
  margin-top: 10px;
  margin-bottom: 5px;
}

.popular-cards-container .card-rating {
  margin-bottom: 5px;
}

/****** ACTIVITY ******/

.activity-cards {
  display: flex;
  gap: 30px;
}

.activity-cards .card {
  padding: 0;
  width: 24%;
}

.activity-cards .card img {
  height: 380px;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.activity-cards .card h3 {
  padding: 20px 19px;
}

.activity {
  margin-top: 35px;
  padding: 30px;
}

.activity .section-title {
  margin-bottom: 30px;
}

/****** FOOTER ******/

footer {
  background-color: var(--main-bg-color);
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
}

.footer-part {
  padding: 20px;
  width: 32%;
}

.footer-part ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer-title {
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 15px;
}

/****** RESPONSIVE ******/

/*
                                              TODO : Responsive à faire 
 */

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .accommodation-and-popular {
    flex-direction: column;
  }

  .accommodation {
    width: 100%;
  }

  .popular {
    width: 100%;
    margin-top: 50px;
  }

  .popular-cards-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .popular-cards-container a {
    width: 30%;
  }

  .popular-cards-container .card-title {
    font-size: 14px;
  }

  .popular-cards-container .card-subtitle {
    font-size: 13px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  /* ... */
}
